.provider-message {
  margin-bottom: 20px;
  margin-top: 90px;
  color: black;
  cursor: pointer;

  .message {
    background-color: #f9f9f9; // Light grey background for the box
    border: 1px solid #ccc; // Adds a subtle border
    border-radius: 8px; // Rounded corners for the box
    padding: 15px; // Increased padding for inner spacing
    margin-bottom: 20px; // Increased margin-bottom for spacing between messages
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Soft shadow for depth

    p {
      margin: 0 0 10px 0; // Adds bottom margin to paragraphs for spacing, remove the margin from the last paragraph
      &:last-child {
        margin-bottom: 0;
      }
    }

    &:hover {
      background-color: #eef2f5; // Slightly changes background color on hover for interactive feel
    }
  }
}
