.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px; // Adjust the width as needed
  height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;

  @media (max-width: 768px) {
    width: 100%; // Full width on small screens
  }
}

.sidebar__section {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 50px;
}

.sidebar__link {
  margin-bottom: 1px;
  text-decoration: none;
  color: #333;
}
