body {
  background-color: white;
}

.messages {
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
  margin-top: 70px;

  .message {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f0f0f0;
    position: relative;
    overflow-wrap: break-word;
    word-wrap: break-word;

    &.user-message {
      background-color: #cdf1d8;
      align-self: flex-start;
    }

    &.provider-message {
      background-color: #d7e0f0;
      align-self: flex-end;
    }

    .time-sent {
      font-size: 0.8rem;
      color: #666;
      position: absolute;
      bottom: -15px;
      right: 5px;
    }
  }

  .start-conversation {
    display: flex;
    align-items: center;

    input[type="text"] {
      flex: 1;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ccc;
      margin-right: 10px;
      font-size: 1rem;
    }

    button {
      padding: 10px 20px;
      border-radius: 8px;
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 1rem;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
