// body,
// html {
//   margin: 0;
//   padding: 0;
//   width: 100%;
//   // height: 100%;
//   background-color: white; 
// }

.homepage {
  width: 100%;
  // min-height: 100vh;
  background-color: #007bff; /* Set background color for the entire viewport */

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 20px;

  .hero-section {
    margin-top: 20px;
    h1 {
      font-size: 2.5rem;
      color: #fff; /* Adjust text color for better contrast */
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add subtle text shadow */
    }
    p {
      font-size: 1.2rem;
    }
  }
  .images {
    width: 100%;
    height: 50vh;
    border-radius: 20px;
  }

  .imagesfeatured {
    width: 70%;
height: 100px;
    border-radius: 20px;
  }

  .mathimage {
    width: 50%;
  }

  .locationimage {
    width: 50%;
  }

  .services-section,
  .quote-location-section,
  .about-moversconnect {
    margin: 40px 0;
    width: 100%;
    padding: 10px 217px;
    h2 {
      margin-bottom: 20px;
      color: #fff; /* Adjust text color for better contrast */
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add subtle text shadow */
    }
  }

  .services-list {
    display: flex;
    justify-content: center;
    gap: 20px;

    .service-card {
      background-color: #0056b3;
      padding: 20px;
      border-radius: 10px;
      width: 200px;
      height: 100px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      transition: background-color 0.3s ease; /* Add smooth background color transition */
      cursor: pointer; /* Add pointer cursor for interactive feel */

      &:hover {
        background-color: #004080; /* Darker background color on hover */
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  @media (min-width: 768px) {
    .homepage {
      .services-list {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
