.currentOrders {
  height: 100vh;
  margin-left: 268px; // Space for the sidebar

  // width: 100vw;
  width: calc(100vw - 250px);
  overflow: auto; // Ensures the table is scrollable if it overflows the viewport
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  top: 0px;

  table {
    border-collapse: collapse;
    width: 90%; // Adjusts table width within the container
    max-width: 1200px; // Limits maximum width for large screens

    th,
    td {
      text-align: left;
      padding: 12px;
      border-bottom: 1px solid #ddd; // Adds a subtle line between rows
    }

    th {
    
      color: black;
      font-weight: bold;
      font-size: 20px;
    }

   

    tbody tr:hover {
      background-color: lightblue; // Hover effect for rows
    }
  }
}
