.singlepage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh; // Adjust the height as needed
  gap: 40px;
  .left {
    flex: 1;
    padding: 20px;
    // overflow-y: auto;
    margin-left: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: auto;

    img.image {
      margin-top: 50px;
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }

    .details {
      color: black;
      p.companydetails {
        margin-bottom: 10px;
        font-weight: bold;
      }

      button {
        color: white;
        margin-left: 10px;
      }
    }
  }

  .right {
    flex: 2;
    margin-top: 70px;
  }
}

.right {
  width: 30vw;
  height: 50vh; // Adjust based on your layout needs

  .maps {
    height: 50vh; // Set a fixed height for the map container
    width: 50vw;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
