.single-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; // Adjust to flex-start for better control over content alignment
  min-height: 100vh; // Use min-height to ensure content can expand beyond the viewport height if needed
  padding: 20px;
  gap: 20px;
  width: 100%; // Ensures it occupies the full width

  .company-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .company-image {
      width: 100%;
      max-width: 600px; // Control the image width to not span the entire container
      height: auto; // Adjust height to auto for maintaining aspect ratio
      object-fit: cover; // Ensures the image covers the area nicely
      border-radius: 10px; // Adjusted for uniformity
    }

    .company-name {
      margin-top: 20px;
    }
  }

  .company-details {
    width: 100%;
    max-width: 600px;
    margin: 20px auto; // Ensure there's space around the details section
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; // Consistency in design

    p {
      margin: 10px 0;
    }
  }

  #map {
    width: 100%; // Full container width
    height: 400px; // Fixed height for the map
    margin-top: 20px; // Space from the preceding content
    border-radius: 10px; // Optional: for consistent design
    overflow: hidden; // If you have a border-radius
  }
}
