.my-trips-table {
  margin-left: 250px;
  overflow-x: auto;
  margin-top: 66px;
  width: calc(100vw - 250px);
  height: 100vh;
  background-color: white;
  cursor: pointer;

  table {
    width: 100%;
    border-collapse: separate; // Allows for spacing between rows
    border-spacing: 0 20px; 
    background-color: gray;
    gap: 20px;

    th,
    td {
      text-align: left;
      padding: 12px; // Increased padding for more space around content
      border-bottom: 1px solid #ddd;
      background-color: gray; 
    }

    th {
      background-color: black;
      color: white; // Ensures text color in header is white for contrast
    }

    tr:hover {
      // background-color: lightblue; // Highlight row on hover
      td {
        background-color: gray; // Ensure the cells also match the row highlight color
      }
    }

    .trip-details {
      background-color: #333; // Different background for expanded details
      color: white; // Ensures text color in detail rows is white for contrast
      text-align: center;
      
      td {
        font-size: 1rem; // Slightly smaller font for details
        padding-top: 25px; // Increase padding-top for more space above the details
        padding-bottom: 25px; // Increase padding-bottom for more space below the details
      }
    }
  }
}
